/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/07/2014, 10:01:32
    Author     : marlon
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
            display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
    }

    td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Estação Tubo Origem"; }
    td:nth-of-type(2):before { content: "Distância (Km)"; }
    td:nth-of-type(3):before { content: "Nível Acessibilidade"; }
    td:nth-of-type(4):before { content: "Estação Tubo Destino"; }
    td:nth-of-type(5):before { content: "Distância (Km)"; }
    td:nth-of-type(6):before { content: "Nível Acessibilidade"; }
    td:nth-of-type(7):before { content: "Tempo"; }
    td:nth-of-type(8):before { content: "Média Nível Acessibilidade"; }
    td:nth-of-type(9):before { content: "Detalhes"; }
    td:nth-of-type(10):before { content: "Rota"; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
        body { 
                padding: 0; 
                margin: 0; 
                width: 320px; }
        }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body { 
                width: 495px; 
        }
}